<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564193943989-4hvqroep91a8tv987vt60m5qetue0egl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564193943989-4hvqroep91a8tv987vt60m5qetue0egl</string>
	<key>API_KEY</key>
	<string>AIzaSyDSvtr9UrQMCKf7zeGYGQG9WISUaDoUElk</string>
	<key>GCM_SENDER_ID</key>
	<string>564193943989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qamarbek.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-63ffe</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-63ffe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564193943989:ios:8c01c9c30957453792b9fc</string>
</dict>
</plist>